<div id="main">
  <div id="first">
    <div class="box">
      <label for="startDate">Start date<span class="asterisk"> *</span></label>
      <p-calendar [(ngModel)]="value.startDate" [showIcon]="true" id="startDate" class="element"></p-calendar>
    </div>
    <div class="box">
      <label for="startDate">End date<span class="asterisk"> *</span></label>
      <p-calendar [(ngModel)]="value.endDate" [showIcon]="true" id="endDate" class="element"></p-calendar>
    </div>
    <div class="box">
      <label for="city">City</label>
      <input pInputText [(ngModel)]="value.city" id="city" type="text" class="element"/>
    </div>
    <div class="box">
      <label for="minPrice">Price from</label>
      <input
        pInputText
        [(ngModel)]="value.minPrice"
        id="minPrice"
        type="text"
        pattern="^[1-9][0-9]*(\.[0-9]+)?$"
        name="minPrice"
        #minPrice="ngModel"
        class="element"
        placeholder=" zł"
      />
      <small *ngIf="minPrice.invalid && (minPrice.dirty || minPrice.touched)" class="p-error">
        Invalid characters.
      </small>
    </div>
    <div class="box">
      <label for="maxPrice">Price to</label>
      <input
        pInputText
        [(ngModel)]="value.maxPrice"
        id="maxPrice"
        type="text"
        pattern="^[1-9][0-9]*(\.[0-9]+)?$"
        name="maxPrice"
        #maxPrice="ngModel"
        class="element"
        placeholder=" zł"
      />
      <small *ngIf="maxPrice.invalid && (maxPrice.dirty || maxPrice.touched)" class="p-error">
        Invalid characters.
      </small>
    </div>
    <div class="box">
      <label for="maxNumberOfPeople">Number of people</label>
      <input [(ngModel)]="value.maxNoOfPeople"
             id="maxNumberOfPeople"
             type="number"
             name="maxNumberOfPeople"
             class="element"/>
    </div>
    <div id="divButton">
      <button pButton type="button" label="Search" id="button" (click)="search()"></button>
    </div>
  </div>

  <div id="buttons">
    <button pButton type="button" label="More filters" id="buttonMore" class="p-button-outlined"
            icon="pi pi-angle-down"
            (click)="toggleFilters()" iconPos="right" *ngIf="!showFilters"></button>
    <button pButton type="button" label="Less filters" id="buttonLess" class="p-button-outlined" icon="pi pi-angle-up"
            (click)="toggleFilters()" iconPos="right" *ngIf="showFilters"></button>
  </div>
  <div id="filters">
    <div class="box" *ngIf="showFilters">
      <label for="name">Name</label>
      <input pInputText [(ngModel)]="value.name" id="name" type="text" class="element"/>
    </div>

    <div class="box" *ngIf="showFilters">
      <label for="street">Street</label>
      <input pInputText [(ngModel)]="value.street" id="street" type="text" class="element"/>
    </div>
    <div *ngIf="showFilters">
      <div class="box">
        <label for="square">Square footage</label>
        <input
          pInputText
          [(ngModel)]="value.squareFootage"
          id="square"
          type="text"
          pattern="^[1-9][0-9]*(\.[0-9]+)?$"
          name="square"
          class="element"
          #squareInput="ngModel"
        />
        <small *ngIf="squareInput.invalid && (squareInput.dirty || squareInput.touched)" class="p-error">
          Invalid characters.
        </small>
      </div>
    </div>
  </div>
  <div class="column" *ngIf="showFilters">
    <p class="facilities">Facilities</p>
    <div id="conveniences" class="field-checkbox">
      <div *ngFor="let category of conveniencesList" class="field-checkbox">
        <div id="convenience-wrapper">
          <p-checkbox
            name="group"
            [value]="category"
            [(ngModel)]="value.conveniences">
          </p-checkbox>
          <label [for]="category" class="list">{{beutify(category)}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
