<div id="main">
  <div id="first">
    <div class="box">
      <label for="startDate">{{'filter.startDate' | transloco}}<span class="asterisk"> *</span></label>
      <p-calendar [(ngModel)]="value.startDate" [showIcon]="true" id="startDate" class="element"
                  (ngModelChange)="onStartDateChange($event)" dateFormat="dd.mm.yy"
                  [minDate]="minStartDate"></p-calendar>
    </div>
    <div class="box">
      <label for="endDate">{{'filter.endDate' | transloco}}<span class="asterisk"> *</span></label>
      <p-calendar [(ngModel)]="value.endDate" [showIcon]="true" id="endDate" class="element"
                  (ngModelChange)="onEndDateChange($event)" [minDate]="minEndDate"
                  dateFormat="dd.mm.yy"></p-calendar>
    </div>
    <div class="box">
      <label for="city">{{'filter.city' | transloco}}</label>
      <input pInputText [(ngModel)]="value.city" id="city" type="text" class="element"/>
    </div>
    <div class="box">
      <label for="minPrice">{{'filter.priceFrom' | transloco}}</label>
      <input
        pInputText
        [(ngModel)]="value.minPrice"
        id="minPrice"
        type="text"
        pattern="^[0-9]*$"
        name="minPrice"
        #minPrice="ngModel"
        class="element"
        placeholder=" zł"
      />
      <small *ngIf="minPrice.invalid && (minPrice.dirty || minPrice.touched)" class="p-error">
        {{'invalidCharacters' | transloco}}
      </small>
    </div>
    <div class="box">
      <label for="maxPrice">{{'filter.priceTo' | transloco}}</label>
      <input
        pInputText
        [(ngModel)]="value.maxPrice"
        id="maxPrice"
        type="text"
        pattern="^[0-9]*$"
        name="maxPrice"
        #maxPrice="ngModel"
        class="element"
        placeholder=" zł"
      />
      <small *ngIf="maxPrice.invalid && (maxPrice.dirty || maxPrice.touched)" class="p-error">
        {{'invalidCharacters' | transloco}}
      </small>
    </div>
    <div class="box">
      <label for="maxNumberOfPeople">{{'filter.numberOfPeople' | transloco}}</label>
      <input [(ngModel)]="value.maxNoOfPeople"
             id="maxNumberOfPeople"
             type="number"
             name="maxNumberOfPeople"
             class="element"/>
    </div>
    <div id="divButton">
      <button pButton type="button" label="{{'filter.search' | transloco}}" id="button" (click)="search()"
              [disabled]="invalidDateError"></button>
    </div>
  </div>

  <div id="buttons">
    <button pButton type="button" label="{{'filter.moreFilters' | transloco}}" id="buttonMore" class="p-button-outlined"
            icon="pi pi-angle-down"
            (click)="toggleFilters()" iconPos="right" *ngIf="!showFilters"></button>
    <button pButton type="button" label="{{'filter.lessFilters' | transloco}}" id="buttonLess" class="p-button-outlined" icon="pi pi-angle-up"
            (click)="toggleFilters()" iconPos="right" *ngIf="showFilters"></button>
  </div>
  <div id="filters">
    <div class="box" *ngIf="showFilters">
      <label for="name1">{{'filter.name' | transloco}}</label>
      <input pInputText [(ngModel)]="value.name" id="name1" type="text" class="element"/>
    </div>

    <div class="box" *ngIf="showFilters">
      <label for="street">{{'filter.street' | transloco}}</label>
      <input pInputText [(ngModel)]="value.street" id="street" type="text" class="element"/>
    </div>
    <div *ngIf="showFilters">
      <div class="box">
        <label for="square">{{'filter.square' | transloco}}</label>
        <input
          pInputText
          [(ngModel)]="value.squareFootage"
          id="square"
          type="text"
          pattern="^[0-9]*$"
          name="square"
          class="element"
          #squareInput="ngModel"
        />
        <small *ngIf="squareInput.invalid && (squareInput.dirty || squareInput.touched)" class="p-error">
          {{'invalidCharacters' | transloco}}
        </small>
      </div>
    </div>
  </div>
  <div class="column" *ngIf="showFilters">
    <p class="facilities">{{'filter.facilities' | transloco}}</p>
    <div id="conveniences" class="field-checkbox">
      <div *ngFor="let category of conveniencesList" class="field-checkbox">
        <div id="convenience-wrapper">
          <p-checkbox
            name="group"
            [value]="category"
            [(ngModel)]="value.conveniences">
          </p-checkbox>
          <label [for]="category" class="list">{{beutify(category)}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
