<div id="main" *ngFor="let accommodation of accommodationList?.content">
  <div id="full">
    <div id="left">
      <p-image [src]="getPhoto(accommodation.id)" alt="Image" width="400em"></p-image>
    </div>
    <div id="right">
      <p id="name"><b>{{accommodation.name}}</b></p>
      <p>
        {{ accommodation.addressRS.city }}
        <ng-container *ngIf="accommodation.addressRS.street !== '' && accommodation.addressRS.street != null">
          ul.{{ accommodation.addressRS.street }}
        </ng-container>
        {{ accommodation.addressRS.houseNumber }}
      </p>
      <div id="cost">
        <p *ngIf="numberOfDays<2" class="numberOfDays">{{numberOfDays}} night</p>
        <p *ngIf="numberOfDays>1" class="numberOfDays">{{numberOfDays}} nights</p>
        <p id="price">{{getCost(accommodation.priceForDay)}} zł</p>
      </div>
      <div id="favourite">
        <div *ngIf="showEmptyHeart; then showHeart else showFillHeart"></div>
        <ng-template #showHeart>
          <span class="pi pi-heart" id="heart"></span>
        </ng-template>
        <ng-template #showFillHeart>
          <span class="pi pi-heart-fill" id="heart-fill"></span>
        </ng-template>
      </div>
      <div id="button">
        <p-button label="See more" (onClick)="showDetails(accommodation.id)" icon="pi pi-angle-right"
                  iconPos="right"></p-button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="accommodationList.totalElements!= undefined && accommodationList.totalElements === 0">
  <p id="noAccommodations">No matching accommodations found :(</p>
</div>
