<div class="container1">
  <div class="box">
    <label for="name">Name</label>
    <input pInputText [(ngModel)]="value.name" id="acc-name" type="text"/>
    <!--<small class="p-error" *ngIf="(name.invalid && submitted) || (name.dirty && name.invalid)">Name is required.</small>-->
    <!--    //todo-->
  </div>
</div>

<div class="container2">
  <div class="box">
    <label for="country">Country</label>
    <input
      pInputText [(ngModel)]="value.addressRQ.country"
      id="acc-country"
      type="text"
    />
  </div>
</div>

<div class="container2">
  <div class="box">
    <label for="city">City</label>
    <input
      pInputText [(ngModel)]="value.addressRQ.city"
      id="acc-city"
      type="text"
    />
  </div>

  <div class="box">
    <label for="street">Street</label>
    <input
      pInputText [(ngModel)]="value.addressRQ.street"
      id="acc-street"
      type="text"
    />
  </div>

  <div class="box">
    <label for="houseNumber">House number</label>
    <input
      pInputText [(ngModel)]="value.addressRQ.houseNumber"
      id="acc-houseNumber"
      type="text"
    />
  </div>

  <div class="box">
    <label for="apartmentNumber">Apartment number</label>
    <input
      pInputText [(ngModel)]="value.addressRQ.apartmentNumber"
      id="acc-ApartmentNumber"
      type="text"
    />
  </div>
</div>

<div class="container2">
  <div class="box">
    <label for="postalCode">Postal code</label>
    <input
      pInputText [(ngModel)]="value.addressRQ.postalCode"
      pattern="^[0-9]{2}-[0-9]{3}"
      id="acc-postalCode"
    />
  </div>

  <div class="box">
    <label for="post">Post</label>
    <input
      pInputText [(ngModel)]="value.addressRQ.post"
      id="acc-post"
      type="text"
    />
  </div>

  <div class="box">
    <label for="county">County</label>
    <input
      pInputText [(ngModel)]="value.addressRQ.county"
      id="acc-county"
      type="text"
    />
  </div>

  <div class="box">
    <label for="province">Province</label>
    <input
      pInputText [(ngModel)]="value.addressRQ.province"
      id="acc-province"
      type="text"
    />
  </div>
</div>

<div class="container2">
  <div class="box">
    <label for="price">Price for day</label>
    <input
      pInputText [(ngModel)]="value.priceForDay"
      id="acc-price"
      type="text"
    />
  </div>

  <div class="box">
    <label for="square">Square footage</label>
    <input
      pInputText [(ngModel)]="value.squareFootage"
      id="acc-square"
      type="text"
    />
  </div>

  <div class="box">
    <label for="maxNumberOfPeople">Maximum number of people</label>
    <input [(ngModel)]="value.maxNoOfPeople"
           id="acc-max"
           type="number"
    />
  </div>
</div>

<div class="box">
  <label for="description">Description</label>
  <input
    pInputText [(ngModel)]="value.description"
    id="acc-desc"
    type="text"
  />
</div>

<div id="facilities-container">
  <div class="column">
    <h3 class="facilities">Facilities</h3>
    <div *ngFor="let category of categories" class="field-checkbox">
      <p-checkbox name="group" [value]="category" [(ngModel)]="category.selected"></p-checkbox>
      <label [for]="category">{{beutify(category.convenience)}}</label>
    </div>
  </div>
  <div class="column">
    <h3 class="facilities">Additional cost</h3>
    <div *ngFor="let category of categories" class="field-checkbox">
      <input pInputText id="cost" [disabled]="!category.selected" [(ngModel)]="category.additionalCost"
             placeholder="0 zł">
    </div>
  </div>
</div>

<div id="divButton" class="grid grid-nogutter justify-content-end">
  <p-button label="Save" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
</div>
