<div class="container1">
    <div class="box">
        <label for="name">Name<span class="asterisk"> *</span></label>
        <input pInputText [(ngModel)]="value.name" id="acc-name" type="text" name="name" required #name="ngModel"/>
        <small *ngIf="name.invalid && (name.dirty || name.touched)" class="p-error">Name is required.</small>
    </div>
</div>

<div class="container2">
    <div class="box">
        <label for="country">Country<span class="asterisk"> *</span></label>
        <input
                pInputText [(ngModel)]="value.addressRQ.country"
                id="acc-country"
                type="text"
                name="country" required #country="ngModel"/>
        <small *ngIf="country.invalid && (country.dirty || country.touched)" class="p-error">Country is
            required.</small>
    </div>
</div>

<div class="container2">
    <div class="box">
        <label for="city">City<span class="asterisk"> *</span></label>
        <input
                pInputText [(ngModel)]="value.addressRQ.city"
                id="acc-city"
                type="text"
                name="city" required #city="ngModel"/>
        <small *ngIf="city.invalid && (city.dirty || city.touched)" class="p-error">City is required.</small>
    </div>

    <div class="box">
        <label for="street">Street</label>
        <input
                pInputText [(ngModel)]="value.addressRQ.street"
                id="acc-street"
                type="text"
        />
    </div>

    <div class="box">
        <label for="houseNumber">House number<span class="asterisk"> *</span></label>
        <input
                pInputText [(ngModel)]="value.addressRQ.houseNumber"
                id="acc-houseNumber"
                type="text"
                name="houseNumber" required #houseNumber="ngModel"/>
        <small *ngIf="houseNumber.invalid && (houseNumber.dirty || houseNumber.touched)" class="p-error">House number is
            required.</small>
    </div>

    <div class="box">
        <label for="apartmentNumber">Apartment number</label>
        <input
                pInputText [(ngModel)]="value.addressRQ.apartmentNumber"
                id="acc-ApartmentNumber"
                type="text"
        />
    </div>
</div>

<div class="container2">
    <div class="box">
        <label for="postalCode">Postal code<span class="asterisk"> *</span></label>
        <input
                pInputText [(ngModel)]="value.addressRQ.postalCode"
                pattern="^[0-9]{2}-[0-9]{3}"
                id="acc-postalCode"
                name="postalCode" required #postalCode="ngModel"/>
        <small *ngIf="postalCode.touched && postalCode?.errors?.['required']" class="p-error">Postal code is
            required.</small>
        <small *ngIf="postalCode?.invalid && postalCode?.errors?.['pattern']" class="p-error">Invalid postal code
            format.</small>
    </div>

    <div class="box">
        <label for="post">Post<span class="asterisk"> *</span></label>
        <input
                pInputText [(ngModel)]="value.addressRQ.post"
                id="acc-post"
                type="text"
                name="post" required #post="ngModel"/>
        <small *ngIf="post.invalid && (post.dirty || post.touched)" class="p-error">Post is required.</small>
    </div>

    <div class="box">
        <label for="county">County<span class="asterisk"> *</span></label>
        <input
                pInputText [(ngModel)]="value.addressRQ.county"
                id="acc-county"
                type="text"
                name="county" required #county="ngModel"/>
        <small *ngIf="county.invalid && (county.dirty || county.touched)" class="p-error">County is required.</small>
    </div>

    <div class="box">
        <label for="province">Province<span class="asterisk"> *</span></label>
        <input
                pInputText [(ngModel)]="value.addressRQ.province"
                id="acc-province"
                type="text"
                name="province" required #province="ngModel"/>
        <small *ngIf="province.invalid && (province.dirty || province.touched)" class="p-error">Province is
            required.</small>
    </div>
</div>

<div class="container2">
    <div class="box">
        <label for="price">Price for day<span class="asterisk"> *</span></label>
        <input
                pInputText [(ngModel)]="value.priceForDay"
                id="acc-price"
                type="text"
                pattern="^[1-9][0-9]*(\.[0-9]+)?$"
                name="price" required #price="ngModel"/>
        <small *ngIf="price.touched && price?.errors?.['required']" class="p-error">Price for day is required.</small>
        <small *ngIf="price?.invalid && price?.errors?.['pattern']" class="p-error">Invalid characters.</small>
    </div>

    <div class="box">
        <label for="square">Square footage<span class="asterisk"> *</span></label>
        <input
                pInputText [(ngModel)]="value.squareFootage"
                id="acc-square"
                type="text"
                pattern="^[1-9][0-9]*(\.[0-9]+)?$"
                name="square" required #square="ngModel"/>
        <small *ngIf="square.touched && square?.errors?.['required']" class="p-error">Square footage is
            required.</small>
        <small *ngIf="square?.invalid && square?.errors?.['pattern']" class="p-error">Invalid characters.</small>
    </div>

    <div class="box">
        <label for="maxNumberOfPeople">Maximum number of people<span class="asterisk"> *</span></label>
        <input [(ngModel)]="value.maxNoOfPeople"
               id="acc-max"
               type="number"
               name="maxNumberOfPeople" required #maxNumberOfPeople="ngModel"/>
        <small *ngIf="maxNumberOfPeople.invalid && (maxNumberOfPeople.dirty || maxNumberOfPeople.touched)"
               class="p-error">Maximum number of people required.</small>
    </div>
</div>

<div class="box">
    <label for="description">Description</label>
    <textarea
            [(ngModel)]="value.description"
            id="acc-desc"
    ></textarea>
</div>

<div id="facilities-container">
    <div class="column">
        <h3 class="facilities">Facilities</h3>
        <div *ngFor="let category of categories" class="field-checkbox">
            <p-checkbox name="group" [value]="category" [(ngModel)]="category.selected"></p-checkbox>
            <label [for]="category">{{beutify(category.convenience)}}</label>
        </div>
    </div>
    <div class="column">
        <h3 class="facilities">Additional cost</h3>
        <div *ngFor="let category of categories" class="field-checkbox">
            <input pInputText id="cost" [disabled]="!category.selected" [(ngModel)]="category.additionalCost"
                   placeholder="0 zł">
        </div>
    </div>
</div>

<div id="divButton" class="grid grid-nogutter justify-content-end">
    <p-button label="Save" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
</div>
