#main {
  background-color: var(--cyan-700);
  height: 5em;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center
}


#name {
  font-family: Candara;
  font-size: 2.5em;
  padding-left: 1em;
  margin: 0;
  width: 50%;
  color: white;
}

#user_icon {
  color: white;
  font-size: 2em;
}

#title {
  width: 90%;
}

#for_user {
  float: right;
}
