#main{
  background-color: var(--cyan-700);
  height: 5em;
  margin:0;
}

#name{
  font-family: Candara;
  font-size: 2.5em;
  padding-left:1em;
  margin: 0;
  width: 50%;
  color:white;
}

#user_icon{
  color: white;
  font-size: 2rem;
}
