<div id="central">
  <div id="left_div">
    <div id="title">
      <b><p (click)="toMainPage()" id="name">RENT-NOW</p></b>
    </div>
  </div>
  <div id="right-div">
    <span pTooltip="Add an announcement" id="icon_plus" class="pi pi-plus" (click)="toAddAnnouncementPage()"></span>

    <span pTooltip="Search for accommodation" id="icon_search" class="pi pi-search" (click)="toMainPage()"></span>
    <span id="user_icon" class="pi pi-user" (click)="menu.toggle($event)"></span>
    <p-menu #menu [model]="avatarMenuItems" [popup]="true"
            styleClass="menu-items-override"></p-menu>
  </div>
</div>


