#central {
  background-color: var(--cyan-800);
  height: 5em;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left:10%;
  padding-right:11%;
}

#name {
  font-size: 2.5em;
  padding-left: 1em;
  margin: 0;
  color: #f2e0c2;
}

#user_icon {
  color: #f1e2c9;
  font-size: 2em;
  margin-left:0.5em;
  float:right;
  border: 3px solid #f0e4d1;
  border-radius: 0.5rem;
  padding:0.15em;
}

#user_icon:hover{
  color: white;
  border: 3px solid white;
}

#search, #add_announcement, #favourite{
  background-color: #f1e2c9;
  color: var(--cyan-900);
  padding: 0.1em;
  width: 9.5rem;
  font-size: 1.15em;
  border-radius: 0.5rem;
  height : 2.6em;
  margin: 0.5em;
  text-align:center;
  border: 3px solid #f0e4d1;
}

#favourite:hover, #search:hover, #add_announcement:hover{
  background-color: #eae9e9;
  border: 3px solid #eae9e9;
}

#favourite{
  padding-top:0.5em;
}

#search{
  margin-left:2em;
}

#left_div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#right-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right:1em;
}

:host {
  ::ng-deep .menu-items-override {
    background-color: #f1e2c9;
    color: white;
    margin-top: 0.2em;
    width: 10em;
  }
}
