#sortDiv{
  margin: 0 12%;
}

#selectSort{
  color: #6c6b6b;
  border-color: #adadad;
  border-radius: 5px ;
  height: 3em;
  width: 13em;
  text-align:center;
  font-size: 0.9rem;
  font-family: Verdana;
  -webkit-box-shadow: 1px 0px 50px -7px rgba(184, 185, 192, 1);
  -moz-box-shadow: 1px 0px 50px -7px rgba(184, 185, 192, 1);
  box-shadow: 1px 0px 50px -7px rgba(184, 185, 192, 1);
  margin-left:1em;
}

#sortText{
  padding-top:0.5em;
  font-size: 1.2em;
  color: #4d4d4d;
  font-family: Verdana;
}
