#description {
  font-size: 17px;
}

#address {
  display: flex;
  flex-direction: row;
  margin-bottom: 3.5em;
}

#facilities {
  margin-bottom: 0.5em;
}

#reservation {
  padding: 0.5em 1.5em 1.5em;
}

#dates {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.box {
  display: flex;
  flex-direction: column;
}

#startDate, #endDate {
  width: 10em;
  margin-right: 1em;
}

#facilities-container {
  display: flex;
  width: 20%;
}

.column {
  flex: 1;
}

#button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 2em;
  margin-right: 2em;
}

.numberOfDays {
  font-size: 20px;
  color: #717171
}

#price {
  font-size: 30px;
  color: #0050a0;
}

#costs {
  margin-top: 1.2em;
  margin-left: 3em;
}

.field-checkbox {
  margin-bottom: 5px;
}

#favourite {
  position: absolute;
  top: 0;
  right: 0;
  margin-top:1em;
  margin-right:1em;
}

#heart-fill {
  font-size: 2em;
  color: #cc6969;
  cursor: pointer;
}

#heart {
  font-size: 2em;
  color: #cc6969;
  cursor: pointer;
}
