<h2>{{ 'addPhotos' | transloco }}</h2>
<p-fileUpload name="file" [chooseLabel]="isPolish ? chooseLabelPolish : chooseLabelEnglish"
              [uploadLabel]="isPolish ? uploadLabelPolish : uploadLabelEnglish"
              [cancelLabel]="isPolish ? cancelLabelPolish : cancelLabelEnglish"
              [customUpload]="true"
              (uploadHandler)="onUpload($event)"
              [multiple]="true" accept="image/*">
    <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
    </ng-template>
</p-fileUpload>
