#left {
  width: 40%;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

#full {
  display: flex;
  flex-direction: row;
  position: relative;
}

#name {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

#button {
  position: absolute;
  bottom: 0;
  right: 0;
}

#favourite {
  position: absolute;
  top: 0;
  right: 0;
}

#favourite {
  position: absolute;
  top: 0;
  right: 0;
}

#heart-fill {
  font-size: 1.7em;
  color: #cc6969;
  cursor: pointer;
}

#heart {
  font-size: 1.7em;
  color: #cc6969;
  cursor: pointer;
}

#dates {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.box {
  display: flex;
  flex-direction: column;
}

#startDate, #endDate {
  width: 7em;
  margin-top: 0.5em;
  border: 2px solid #ccc;
  padding: 0.7em;
  text-align: center;
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 2em;
}

.dateText{
  font-size: 17px;
  margin-top: 2em;
}

.numberOfDays {
  font-size: 20px;
  color: #717171
}

#price {
  font-size: 30px;
  color: #0050a0;
}

#costs {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 4em;
}

h1{
  text-align:center;
}

#noAccommodations {
  text-align: center;
  margin: 2em;
}

@media only screen and (max-width: 800px) {
  #full {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  #left {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: 0.5em;
  }

  #costs {
    margin-bottom: 0em;
    position:relative;
  }

  #favourite {
    position: absolute;
    top: -0.7em;
    right: -1.2em;
  }
}
